<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h2>Car Rental Dresden23</h2>
      <h:button value="Manage Cars" outcome="/views/cars/index" />
      <h:button value="Manage CarTypes" outcome="/views/cartypes/index" />
      <h:button value="Manage OfferOfTheWeek" outcome="/views/offeroftheweeks/index" />
      <h:button value="Manage Rentals" outcome="/views/rentals/index" />
      <h:button value="Manage PickUpPoints" outcome="/views/pickuppoints/index" />
      <h:button value="Manage Account" outcome="/views/customers/index" />
      <h:form>
        <h:commandButton value="Clear database"
          action="#{appCtrl.clearData()}" />
        <h:commandButton value="Create test data"
          action="#{appCtrl.createTestData()}" />
      </h:form>
    </ui:define>
  </ui:composition>
</html>