<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="createCarForm" styleClass="pure-form pure-form-aligned">
        <h:panelGrid id="carPanel" columns="3">
          <h:outputLabel for="selectCar" value="Select car: " />
          <h:selectOneMenu id="selectCar" value="#{car.carId}">
            <f:selectItem itemValue="" itemLabel="---" />
            <f:selectItems value="#{carCtrl.cars}" var="c"
              itemValue="#{c.carId}" itemLabel="#{c.name}" />
            <f:ajax listener="#{carCtrl.refreshObjects(car)}"
              render="carId name productionyear power status price cartypes" />
          </h:selectOneMenu>
          <h:message for="selectCar" />
          <h:outputLabel for="carId" value="CarId: " />
          <h:outputText id="carId" value="#{car.carId}" />
          <h:message for="carId" />
          <h:outputLabel for="name" value="Name: " />
          <h:inputText id="name" value="#{car.name}" />
          <h:message for="name" errorClass="error" />
          <h:outputLabel for="productionyear" value="Productionyear: " />
          <h:inputText id="productionyear" p:type="date" value="#{car.productionYear}">
            <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"/>
          </h:inputText>
          <h:message for="productionyear" errorClass="error" />
          <h:outputLabel for="power" value="Power: " />
          <h:inputText id="power" p:type="number" value="#{car.power}" />
          <h:message for="power" errorClass="error" />

          <h:outputLabel for="status" value="Special type: " />
          <c:set var="selectedStatus" value="#{car.status}"/>
          <h:selectOneMenu id="status" value="#{selectedStatus}">
            <f:selectItem itemLabel="---"/>
            <f:selectItems value="#{car.statusItems}" />
          </h:selectOneMenu>
          <h:message for="status" errorClass="error" />
          <h:outputLabel for="price" value="Price: " />
          <h:inputText id="price" p:type="number" value="#{car.price}" />
          <h:message for="price" errorClass="error" />
          <h:outputLabel for="cartypes" value="CarTypes:" />
          <h:selectManyListbox id="cartypes" value="#{car.carTypes}" >
            <f:selectItems value="#{cartypeCtrl.carTypes}" var="ct"
                           itemLabel="#{ct.name}" itemValue="#{ct}" />
            <f:converter converterId="dresden23.model.converter.CarTypeConverter" />
          </h:selectManyListbox>
          <h:message for="cartypes" errorClass="error" />
        </h:panelGrid>
        
        <h:panelGroup id="standardCarPanel">
          <h:commandButton value="Update"
            action="#{carCtrl.update( car.carId, car.name, car.productionYear, car.power, car.status, car.price,
             car.carTypes)}" />
        </h:panelGroup>
<!--        -->
<!--        <h:panelGroup id="textCarPanel">  -->
<!--          <h:panelGrid rendered="#{selectedCarType == 'TEXTBOOK'}" columns="3">-->
<!--            <h:outputLabel for="subjectArea" value="Subject area: " />-->
<!--            <h:inputText id="subjectArea" value="#{textCar.subjectArea}"/>-->
<!--            <h:message for="subjectArea" errorClass="error" />-->
<!--          </h:panelGrid>-->
<!--          <h:commandButton value="Update" rendered="#{selectedCarType == 'TEXTBOOK'}"-->
<!--            action="#{textCarCtrl.update( car.carId, car.title, car.productionyear, textCar.subjectArea)}" />-->
<!--        </h:panelGroup>-->
<!--        -->
<!--        <h:panelGroup id="biographyCarPanel">  -->
<!--          <h:panelGrid rendered="#{selectedCarType == 'BIOGRAPHY'}" columns="3">-->
<!--            <h:outputLabel for="about" value="About: " />-->
<!--            <h:inputText id="about" value="#{biographyCar.about}"/>-->
<!--            <h:message for="about" errorClass="error" />-->
<!--          </h:panelGrid>-->
<!--          <h:commandButton value="Update" rendered="#{selectedCarType == 'BIOGRAPHY'}"-->
<!--            action="#{biographyCtrl.update( car.carId, car.title, car.productionyear, biographyCar.about)}" />-->
<!--        </h:panelGroup>-->
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>