<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="createOfferOfTheWeekForm" styleClass="clearfix" >
        <h:panelGrid id="offerOfTheWeekPanel" columns="3">
          <h:outputLabel for="offerId" value="OfferId: " />
          <h:inputText id="offerId" value="#{offeroftheweek.offerId}"
                       validator="#{offeroftheweekCtrl.checkOfferIdAsId}" />
          <h:message for="offerId" errorClass="error" />
          <h:outputLabel for="name" value="Name: " />
          <h:inputText id="name" value="#{offeroftheweek.name}"
                       validator="#{offeroftheweekCtrl.checkName}" />
          <h:message for="name" errorClass="error" />
          <h:outputLabel for="datefrom" value="From: " />
          <h:inputText id="datefrom" p:type="date" value="#{offeroftheweek.dateFrom}">
            <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"
                               validator="#{offeroftheweekCtrl.checkDateFrom}" />
          </h:inputText>
          <h:message for="datefrom" errorClass="error" />
          <h:outputLabel for="dateto" value="To: " />
          <h:inputText id="dateto" p:type="date" value="#{offeroftheweek.dateTo}">
            <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"
                               validator="#{offeroftheweekCtrl.checkDateTo}" />
          </h:inputText>
          <h:message for="dateto" errorClass="error" />
          <h:outputLabel for="discount" value="Discount: " />
          <h:inputText id="discount" value="#{offeroftheweek.discount}"
                       validator="#{offeroftheweekCtrl.checkDiscount}" />
          <h:message for="discount" errorClass="error" />
          <h:outputLabel for="cars" value="Cars:" />
          <h:selectManyListbox id="cars"
                               value="#{offeroftheweek.cars}">
            <f:selectItems value="#{carCtrl.cars}" var="c"
                           itemLabel="#{c.name}" itemValue="#{c}" />
            <f:converter converterId="dresden23.model.converter.CarConverter" />
          </h:selectManyListbox>
          <h:message for="cars" errorClass="error" />

        </h:panelGrid>

        <h:panelGroup id="standardOfferOfTheWeekPanel">
          <h:commandButton value="Create"
                           action="#{offeroftheweekCtrl.create( offeroftheweek.offerId, offeroftheweek.name,
                           offeroftheweek.dateFrom, offeroftheweek.dateTo, offeroftheweek.discount, offeroftheweek.cars )}" />
        </h:panelGroup>
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>