<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:dataTable value="#{offeroftheweekCtrl.offers}" var="o">
        <h:column>
          <f:facet name="header">OfferId</f:facet>
            #{o.offerId}
        </h:column>
        <h:column>
          <f:facet name="header">Name</f:facet>
            #{o.name}
          </h:column>
        <h:column>
          <f:facet name="header">DateFrom</f:facet>
            #{o.dateFrom}
        </h:column>
        <h:column>
<!--          <f:facet name="header">Special type</f:facet>-->
<!--            #{b.getClass().getSimpleName() != 'Book' ? b.getClass().getSimpleName() : ''}-->
          <f:facet name="header">DateTo</f:facet>
          #{o.dateTo}
        </h:column>
        <h:column>
          <f:facet name="header">Discount</f:facet>
          #{o.discount}
        </h:column>
        <h:column>
          <f:facet name="header">Cars</f:facet>
          #{o.carNames}
        </h:column>
      </h:dataTable>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>