<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="createBookForm" styleClass="pure-form pure-form-aligned">
        <h:panelGrid id="offerPanel" columns="3">
          <h:outputLabel for="selectOffer" value="Select offer: " />
          <h:selectOneMenu id="selectOffer" value="#{offeroftheweek.offerId}">
            <f:selectItem itemValue="" itemLabel="---" />
            <f:selectItems value="#{offeroftheweekCtrl.offers}" var="o"
              itemValue="#{o.offerId}" itemLabel="#{o.offerId}" />
            <f:ajax listener="#{offeroftheweekCtrl.refreshObjects(offeroftheweek)}" event="change" execute="@this"
              render="offerId name datefrom dateto discount cars" />
          </h:selectOneMenu>
          <h:message for="selectOffer" />
          <h:outputLabel for="offerId" value="OfferId: " />
          <h:outputText id="offerId" value="#{offeroftheweek.offerId}" />
          <h:message for="offerId" />
          <h:outputLabel for="name" value="Name: " />
          <h:inputText id="name" value="#{offeroftheweek.name}" />
          <h:message for="name" errorClass="error" />
          <h:outputLabel for="datefrom" value="From: " />
          <h:inputText id="datefrom" p:type="date" value="#{offeroftheweek.dateFrom}">
            <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"
                               validator="#{offeroftheweekCtrl.checkDateFrom}" />
          </h:inputText>
          <h:message for="datefrom" errorClass="error" />
          <h:outputLabel for="dateto" value="To: " />
          <h:inputText id="dateto" p:type="date" value="#{offeroftheweek.dateTo}">
            <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"
                               validator="#{offeroftheweekCtrl.checkDateTo}" />
          </h:inputText>
          <h:message for="dateto" errorClass="error" />
          <h:outputLabel for="discount" value="Discount: " />
          <h:inputText id="discount" value="#{offeroftheweek.discount}"
                       validator="#{offeroftheweekCtrl.checkDiscount}" />
          <h:message for="discount" errorClass="error" />
          <h:outputLabel for="cars" value="Cars:" />
          <h:selectManyListbox id="cars"
                               value="#{offeroftheweek.cars}">
            <f:selectItems value="#{carCtrl.cars}" var="c"
                           itemLabel="#{c.name}" itemValue="#{c}" />
            <f:converter converterId="dresden23.model.converter.CarConverter" />
          </h:selectManyListbox>
          <h:message for="cars" errorClass="error" />
        </h:panelGrid>
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>