<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="createBookForm" styleClass="pure-form pure-form-aligned">
        <h:panelGrid id="bookPanel" columns="3">
          <h:outputLabel for="isbn" value="ISBN: " />
          <h:inputText id="isbn" value="#{book.isbn}"
            validator="#{bookCtrl.checkIsbnAsId}" />
          <h:message for="isbn" errorClass="error" />
          <h:outputLabel for="title" value="Title: " />
          <h:inputText id="title" value="#{book.title}" />
          <h:message for="title" errorClass="error" />
          <h:outputLabel for="year" value="Year: " />
          <h:inputText id="year" p:type="number" value="#{book.year}" />
          <h:message for="year" errorClass="error" />
          <h:outputLabel for="bookType" value="Special type: " />
          <h:selectOneMenu id="bookType" value="#{viewScope.bookTypeVal}">
            <f:selectItem itemLabel="---"/>
            <f:selectItems value="#{book.typeItems}" />
            <f:ajax event="change" execute="@this" 
              render="textBookPanel biographyBookPanel standardBookPanel" />
          </h:selectOneMenu>
          <h:message for="bookType" errorClass="error" />
        </h:panelGrid>
        
        <h:panelGroup id="standardBookPanel">  
          <h:commandButton value="Create" rendered="#{viewScope.bookTypeVal == null}"
            action="#{bookCtrl.add( book.isbn, book.title, book.year)}" />
        </h:panelGroup>
        
        <h:panelGroup id="textBookPanel">  
          <h:panelGrid rendered="#{viewScope.bookTypeVal == 'TEXTBOOK'}" columns="3">
            <h:outputLabel for="subjectArea" value="Subject area: " />
            <h:inputText id="subjectArea" value="#{textBook.subjectArea}"/>
            <h:message for="subjectArea" errorClass="error" />
          </h:panelGrid>
          <h:commandButton value="Create" rendered="#{viewScope.bookTypeVal == 'TEXTBOOK'}"
            action="#{textBookCtrl.add( book.isbn, book.title, book.year, textBook.subjectArea)}" />
        </h:panelGroup>
        
        <h:panelGroup id="biographyBookPanel">  
          <h:panelGrid rendered="#{viewScope.bookTypeVal == 'BIOGRAPHY'}" columns="3">
            <h:outputLabel for="about" value="About: " />
            <h:inputText id="about" value="#{biographyBook.about}"/>
            <h:message for="about" errorClass="error" />
          </h:panelGrid>
          <h:commandButton value="Create" rendered="#{viewScope.bookTypeVal == 'BIOGRAPHY'}"
            action="#{biographyCtrl.add( book.isbn, book.title, book.year, biographyBook.about)}" />
        </h:panelGroup>
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>