<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h2>Public Library</h2>
      <h:button value="Manage books" outcome="/views/books/index" />
      <h:button value="Manage authors" outcome="/views/authors/index" />
      <h:button value="Manage employees" outcome="/views/employees/index" />
      <h:form>
        <h:commandButton value="Clear database"
          action="#{appCtrl.clearData()}" />
        <h:commandButton value="Create test data"
          action="#{appCtrl.createTestData()}" />
      </h:form>
    </ui:define>
  </ui:composition>
</html>