<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="deleteOfferForm" styleClass="pure-form pure-form-aligned">
        <h:panelGrid columns="2">
          <h:outputLabel for="selectOffer" value="Select offer: " />
          <h:selectOneMenu id="selectOffer" value="#{offeroftheweek.offerId}">
            <f:selectItems value="#{offeroftheweekCtrl.offers}" var="o"
              itemValue="#{o.offerId}" itemLabel="#{o.name}" />
          </h:selectOneMenu>
        </h:panelGrid>
        <h:commandButton value="Delete"
          action="#{offeroftheweekCtrl.destroy( offeroftheweek.offerId)}" />
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>