body {
  padding: 8px;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
}

table, td, th {
  border: 1px solid black;
  padding: 5px;
}

table th {
  background: aliceblue;
}

form :invalid {
  box-shadow: none; /* neutralizing FF */
  outline: dotted red;
}

input[type=button], input[type=submit] {
  margin-top: 5px;
  clear: both;
  display: block;
}

.error {
  color: red;
  padding: 3px 7px;
}

form  table, form td, form th {
  border: none;
}

form table tr td:first-of-type {
  text-align: right;
}