<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/templates/page.xhtml">
  <ui:define name="main">
    <!--      <h:form id="createCarTypeForm" styleClass="pure-form pure-form-aligned" >-->
    <h:form id="createCarTypeForm" styleClass="clearfix" >
      <h:panelGrid id="cartypePanel" columns="3">
        <h:outputLabel for="cartypeId" value="CarTypeId: " />
        <h:inputText id="cartypeId" value="#{cartype.cartypeId}"
                     validator="#{cartypeCtrl.checkCarTypeIdAsId}" />
        <h:message for="cartypeId" errorClass="error" />
        <h:outputLabel for="name" value="Name: " />
        <h:inputText id="name" value="#{cartype.name}"
                     validator="#{cartypeCtrl.checkName}" />
        <h:message for="name" errorClass="error" />
        <h:outputLabel for="cartypedCars" value="Cartyped Cars:" />
        <h:selectManyListbox id="cartypedCars"
                             value="#{cartype.cartypedCars}">
          <f:selectItems value="#{carCtrl.cars}" var="ct"
                         itemLabel="#{ct.name}" itemValue="#{ct}" />
          <f:converter converterId="dresden23.model.converter.CarConverter" />
        </h:selectManyListbox>
        <h:message for="cartypedCars" errorClass="error" />

      </h:panelGrid>

      <h:panelGroup id="standardCarTypePanel">
        <h:commandButton value="Create"
                         action="#{cartypeCtrl.create( cartype.cartypeId, cartype.name, cartype.cartypedCars )}" />
      </h:panelGroup>
    </h:form>
    <h:button value="Back" outcome="index" />
  </ui:define>
</ui:composition>
</html>