<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
<!--      <h:form id="createCarForm" styleClass="pure-form pure-form-aligned" >-->
      <h:form id="createCarForm" styleClass="clearfix" >
        <h:panelGrid id="carPanel" columns="3">
          <h:outputLabel for="carId" value="CarId: " />
            <h:inputText id="carId" value="#{car.carId}"
                         validator="#{carCtrl.checkCarIdAsId}" />
            <h:message for="carId" errorClass="error" />
          <h:outputLabel for="name" value="Name: " />
            <h:inputText id="name" value="#{car.name}"
                         validator="#{carCtrl.checkName}" />
            <h:message for="name" errorClass="error" />
          <h:outputLabel for="productionyear" value="Productionyear: " />
            <h:inputText id="productionyear" p:type="date" value="#{car.productionYear}">
              <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"/>
            </h:inputText>
            <h:message for="productionyear" errorClass="error" />
          <h:outputLabel for="power" value="Power: " />
            <h:inputText id="power" value="#{car.power}"
                         validator="#{carCtrl.checkPower}" />
            <h:message for="power" errorClass="error" />
          <h:outputLabel for="status" value="Status" />
            <h:selectOneMenu id="status"
                             value="#{car.status}">
              <f:selectItem itemValue="" itemLabel="---" />
              <f:selectItems value="#{car.statusItems}" />
            </h:selectOneMenu>
          <h:outputLabel for="price" value="Price: " />
            <h:inputText id="price" value="#{car.price}" />
            <h:message for="price" errorClass="error" />
          <h:outputLabel for="cartypes" value="CarTypes:" />
          <h:selectManyListbox id="cartypes" value="#{car.carTypes}">
            <f:selectItems value="#{cartypeCtrl.carTypes}" var="ct"
                           itemLabel="#{ct.name}" itemValue="#{ct}" />
            <f:converter converterId="dresden23.model.converter.CarTypeConverter" />
          </h:selectManyListbox>
          <h:message for="cartypes" errorClass="error" />
        </h:panelGrid>
        <h:panelGroup id="standardCarPanel">  
          <h:commandButton value="Create"
            action="#{carCtrl.create( car.carId, car.name, car.productionYear, car.power, car.status, car.price,
             car.carTypes )}" />
        </h:panelGroup>
        
<!--        <h:panelGroup id="textCarPanel">  -->
<!--          <h:panelGrid rendered="#{viewScope.carTypeVal == 'TEXTBOOK'}" columns="3">-->
<!--            <h:outputLabel for="subjectArea" value="Subject area: " />-->
<!--            <h:inputText id="subjectArea" value="#{textCar.subjectArea}"/>-->
<!--            <h:message for="subjectArea" errorClass="error" />-->
<!--          </h:panelGrid>-->
<!--          <h:commandButton value="Create" rendered="#{viewScope.carTypeVal == 'TEXTBOOK'}"-->
<!--            action="#{textCarCtrl.add( car.carId, car.title, car.year, textCar.subjectArea)}" />-->
<!--        </h:panelGroup>-->
<!--        -->
<!--        <h:panelGroup id="biographyCarPanel">-->
<!--          <h:panelGrid rendered="#{viewScope.carTypeVal == 'BIOGRAPHY'}" columns="3">-->
<!--            <h:outputLabel for="about" value="About: " />-->
<!--            <h:inputText id="about" value="#{biographyCar.about}"/>-->
<!--            <h:message for="about" errorClass="error" />-->
<!--          </h:panelGrid>-->
<!--          <h:commandButton value="Create" rendered="#{viewScope.carTypeVal == 'BIOGRAPHY'}"-->
<!--            action="#{biographyCtrl.add( car.carId, car.title, car.year, biographyCar.about)}" />-->
<!--        </h:panelGroup>-->
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>