<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:dataTable value="#{carCtrl.cars}" var="c">
        <h:column>
          <f:facet name="header">CarId</f:facet>
            #{c.carId}
        </h:column>
        <h:column>
          <f:facet name="header">Name</f:facet>
            #{c.name}
          </h:column>
        <h:column>
          <f:facet name="header">ProductionYear</f:facet>
            #{c.productionYear}
        </h:column>
        <h:column>
          <f:facet name="header">Power</f:facet>
          #{c.power}
        </h:column>
        <h:column>
          <f:facet name="header">Status</f:facet>
          #{c.status}
        </h:column>
        <h:column>
          <f:facet name="header">Price</f:facet>
          #{c.price}
        </h:column>
        <h:column>
          <f:facet name="header">CarTypes</f:facet>
          #{c.carTypes}
        </h:column>
      </h:dataTable>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>