<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h2>Manage Customer entries:</h2>
      <h:button value="List all customers" outcome="listAll" />
      <h:button value="Add a new customer" outcome="create" />
      <h:button value="Update a customer" outcome="update" />
      <h:button value="Delete a customer" outcome="delete" />
      <h:button value="Main menu" outcome="/views/app/index" />
    </ui:define>
  </ui:composition>
</html>