<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="createRentalForm" styleClass="clearfix" >
        <h:panelGrid id="rentalPanel" columns="3">
          <h:outputLabel for="rentalId" value="RentalId: " />
          <h:inputText id="rentalId" value="#{rental.rentalId}"
                       validator="#{rentalCtrl.checkRentalIdAsId}" />
          <h:message for="rentalId" errorClass="error" />
          <h:outputLabel for="rentalfrom" value="From: " />
          <h:inputText id="rentalfrom" p:type="date" value="#{rental.rentalfrom}">
            <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"/>
          </h:inputText>
          <h:message for="rentalfrom" errorClass="error" />
          <h:outputLabel for="rentalto" value="To: " />
          <h:inputText id="rentalto" p:type="date" value="#{rental.rentalto}">
            <f:convertDateTime type="date" dateStyle="short" pattern="yyyy-MM-dd"/>
          </h:inputText>
          <h:message for="rentalto" errorClass="error" />
          <h:outputLabel for="discount" value="Discount: " />
          <h:inputText id="discount" value="#{rental.discount}"
                       validator="#{rentalCtrl.checkDiscount}" />
          <h:message for="discount" errorClass="error" />
          <h:outputLabel for="deliverytothepoint" value="DeliveryToThePoint?: " />
          <h:selectBooleanCheckbox id="deliverytothepoint" value="#{rental.deliveryToThePoint}" /> DeliveryTothePoint
            <f:ajax event="click" execute="@this"
                    render="pickuppointPanel" hide="deliverytoaddressPanel"/>
          <h:message for="deliverytothepoint" errorClass="error" />

          <h:panelGroup id="deliverytoaddressPanel">
            <h:panelGrid rendered="#{viewScope.deliverytothepoint == 'ON'}" columns="3">
            <h:outputLabel for="deliveryaddress" value="DeliveryAddress: " />
            <h:inputText id="deliveryaddress" value="#{rental.deliveryaddress}"/>
            <h:message for="deliveryaddress" errorClass="error" />
            </h:panelGrid>
          </h:panelGroup>
          <h:panelGroup id="pickuppointPanel" rendered="false">
            <h:panelGrid rendered="#{viewScope.deliverytothepoint == 'OFF'}" columns="3">
              <h:selectOneMenu id="pickuppoint" value="#{rental.pickuppoint}">
                <f:selectItem itemLabel="---"/>
                <f:selectItems value="#{pickuppointCtrl.pickuppoints}" />
              </h:selectOneMenu>
              <h:message for="pickuppoint" errorClass="error" />
            </h:panelGrid>
          </h:panelGroup>
          <h:outputLabel for="total" value="Total: " />
          <h:inputText id="total" value="#{rental.total}" />
          <h:message for="total" errorClass="error" />
          <h:commandButton value="Create"
                           action="#{rentalCtrl.create( rental.rentalId, rental.rentaldate, rental.rentalfrom,
                             rental.rentalto, rental.discount, rental.deliveryToThePoint, rental.deliveryaddress,
                             rental.total, rental.car, rental.pickuppoint, rental.customer)}" />
        </h:panelGrid>
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>