<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="deleteBookForm" styleClass="pure-form pure-form-aligned">
        <h:panelGrid columns="2">
          <h:outputLabel for="selectBook" value="Select book: " />
          <h:selectOneMenu id="selectBook" value="#{book.isbn}">
            <f:selectItems value="#{bookCtrl.books}" var="b"
              itemValue="#{b.isbn}" itemLabel="#{b.title}" />
          </h:selectOneMenu>
        </h:panelGrid>
        <h:commandButton value="Delete"
          action="#{bookCtrl.destroy( book.isbn)}" />
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>