<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h2>Manage CarType entries:</h2>
      <h:button value="List all CarTypes" outcome="listAll" />
      <h:button value="Add a new CarType" outcome="create" />
      <h:button value="Update a CarType" outcome="update" />
      <h:button value="Delete a CarType" outcome="delete" />
      <h:button value="Main menu" outcome="/views/app/index" />
    </ui:define>
  </ui:composition>
</html>