<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:dataTable value="#{cartypeCtrl.carTypes}" var="ct">
        <h:column>
          <f:facet name="header">CarTypeID</f:facet>
            #{ct.cartypeId}
        </h:column>
        <h:column>
          <f:facet name="header">Name</f:facet>
            #{ct.name}
          </h:column>
        <h:column>
          <f:facet name="header">CartypedCars</f:facet>
            #{ct.cartypedCars}
        </h:column>
<!--        <h:column>-->
<!--          <f:facet name="header">Special type</f:facet>-->
<!--            #{b.getClass().getSimpleName() != 'Book' ? b.getClass().getSimpleName() : ''}-->
<!--        </h:column>-->
      </h:dataTable>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>