<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

  <ui:composition template="/WEB-INF/templates/page.xhtml">
    <ui:define name="main">
      <h:form id="createCarTypeForm" styleClass="pure-form pure-form-aligned">
        <h:panelGrid id="carTypePanel" columns="3">
          <h:outputLabel for="selectCarType" value="Select cartype: " />
          <h:selectOneMenu id="selectCarType" value="#{cartype.cartypeId}">
            <f:selectItem itemValue="" itemLabel="---" />
            <f:selectItems value="#{cartypeCtrl.carTypes}" var="ct"
                           itemValue="#{ct.cartypeId}" itemLabel="#{ct.name}" />
            <f:ajax listener="#{cartypeCtrl.refreshObjects(cartype)}"
                    render="cartypeId name cartypedCars" />
          </h:selectOneMenu>
          <h:message for="selectCarType" />
          <h:outputLabel for="cartypeId" value="CarId: " />
          <h:outputText id="cartypeId" value="#{cartype.cartypeId}" />
          <h:message for="cartypeId" />
          <h:outputLabel for="name" value="Name: " />
          <h:inputText id="name" value="#{cartype.name}" />
          <h:message for="name" errorClass="error" />
          <h:outputLabel for="cartypedCars" value="Authored books:" />
          <h:outputLabel for="cartypedCars" value="Cartyped Cars:" />
          <h:selectManyListbox id="cartypedCars"
                               value="#{cartype.cartypedCars}">
            <f:selectItems value="#{carCtrl.cars}" var="ct"
                           itemLabel="#{ct.name}" itemValue="#{ct}" />
            <f:converter converterId="dresden23.model.converter.CarConverter" />
          </h:selectManyListbox>
          <h:message for="cartypedCars" errorClass="error" />
          
        </h:panelGrid>

        <h:panelGroup id="standardCarTypePanel">
          <h:commandButton value="Update"
                           action="#{cartypeCtrl.update( cartype.cartypeId, cartype.name, cartype.cartypedCars)}" />
        </h:panelGroup>
      </h:form>
      <h:button value="Back" outcome="index" />
    </ui:define>
  </ui:composition>
</html>