<nav xmlns:h="http://java.sun.com/jsf/html">
  <ul>
    <li><h:link outcome="create">C</h:link></li>
    <li><h:link outcome="retrieveAndListAll">R</h:link></li>
    <li><h:link outcome="update">U</h:link></li>
    <li><h:link outcome="delete">D</h:link></li>
  </ul>
</nav>