<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title><ui:insert name="title">Public Library</ui:insert></title>
    <meta name="description" content="dresden23" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="manifest" href="../../site.webmanifest" />
    <link rel="stylesheet"
      href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
    <link rel="stylesheet" type="text/css"
          href="#{facesContext.externalContext.requestContextPath}/res/css/normalize.css" />
    <link rel="stylesheet" type="text/css"
          href="#{facesContext.externalContext.requestContextPath}/res/css/main.css" />
    <link
      href="#{facesContext.externalContext.requestContextPath}/res/css/style.css"
      rel="stylesheet" type="text/css" />
    <!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

    <!-- Add your site or application content here -->
    <p>Hello world! This is HTML5 Boilerplate.</p>
    <script src="#{facesContext.externalContext.requestContextPath}/res/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('&lt;script src="js/vendor/jquery-3.4.1.min.js">&lt;\/script>')</script>
    <script src="#{facesContext.externalContext.requestContextPath}/res/js/plugins.js"></script>
    <script src="#{facesContext.externalContext.requestContextPath}/res/js/main.js"></script>
  </h:head>
  <body>
  <div class="wrapper clearfix">
    <div class="title">
      <ui:insert name="headerTitle"/>
    </div>
    <ui:insert name="headerMenu">
      <ui:include src="/WEB-INF/templates/header.xhtml" />
    </ui:insert>
  </div>
    <div id="main" class="wrapper clearfix">
      <ui:insert name="main"/>
    </div>
    <div id="footer" class="wrapper clearfix">
      <ui:insert name="footer">
        <ui:include src="/WEB-INF/templates/footer.xhtml" />
      </ui:insert>
    </div>
  </body>
</html>
